.build/
cache/
chroot/
binary/
binary.*
*.iso
*.img
*.log
*.contents
config/binary
config/bootstrap
config/chroot
config/common
config/source
config/binary.*
config/chroot.*
config/source.*
config/bootstrap.*
config/common.*
