terminal_output console
set gfxpayload=text
set color_normal=light-red/black
set color_highlight=white/red
set menu_color_normal=light-red/black
set menu_color_highlight=white/red

set default=0
set timeout=10

menuentry "Start SventOS [Live R3]" {
  linux @KERNEL_LIVE@ @APPEND_LIVE@
  initrd @INITRD_LIVE@
}
menuentry "Start SventOS [safe graphics]" {
  linux @KERNEL_LIVE@ @APPEND_LIVE@ nomodeset
  initrd @INITRD_LIVE@
}
menuentry "Start SventOS [text mode]" {
  linux @KERNEL_LIVE@ @APPEND_LIVE@ systemd.unit=multi-user.target live-config.debug
  initrd @INITRD_LIVE@
}
menuentry "Install SventOS" {
  linux @KERNEL_LIVE@ @APPEND_LIVE@
  initrd @INITRD_LIVE@
}
menuentry "Check disc for defects" {
  linux @KERNEL_LIVE@ @APPEND_VERIFY_CHECKSUMS@
  initrd @INITRD_LIVE@
}
if [ "${grub_platform}" = "efi" ]; then
  menuentry "UEFI settings" { fwsetup }
fi
menuentry "Shut down" { halt }
